<!--icheck-->
<link href="{{ url_for('static',filename='iCheck/skins/minimal/minimal.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='iCheck/skins/square/square.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='iCheck/skins/square/red.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='iCheck/skins/square/blue.css') }}" rel="stylesheet">

<!--dashboard calendar-->
<link href="{{ url_for('static',filename='css/clndr.css') }}" rel="stylesheet">

<!--Morris Chart CSS -->
<link href="{{ url_for('static',filename='morris-chart/morris.css') }}" rel="stylesheet">

<!--common-->
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/style-responsive.css') }}" rel="stylesheet">


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="{{ url_for('static',filename='js/html5shiv.js') }}"></script>
  <script src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
  <![endif]-->